<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="Yinka Enoch Adedokun">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/LoginPage.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>