@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Manager's Table";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                    <table id="table_id" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Reason Request</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Reason Request</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal *@
<div class="modal fade" role="dialog" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="form" name="form">
                    <div class="form-body">
                        <h3 class="box-title">Requester Info</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">NIK</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="NIK" name="nik"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Name</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="FullName" name="FullName"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Email</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="Email" name="Email"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Leave Quota</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="RemainingQuota" name="RemainingQuota"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="box-title">Details Request</h3>
                        <hr class="m-t-0 m-b-40">
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6" hidden>
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2"> Request ID</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control-static" id="id" name="id">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Request ID</label>
                                    <div class="col-md-7">
                                        <p type="text" class="form-control-static" id="ID" name="ID"></p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Request Type</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="Reason" name="Reason"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Start Date</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="StartDate" name="StartDate">Loading...</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">End Date</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static" id="EndDate" name="EndDate"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Submited Date</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static text-justify" id="DateRequest" name="DateRequest"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Notes</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static text-justify" id="Notes" name="Notes"> Loading... </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Notes from manager-->
                    <hr />
                    <div class="form-group">
                        <h5>Note</h5>
                        <div class="controls">
                            <textarea name="RejectedNotes" id="RejectedNotes" class="form-control" required
                                      placeholder="Enter your notes"></textarea>
                        </div>
                        <small class="text-danger">Enter a note if you reject the request for leave ...</small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="approve()"> <i class="fa fa-check"></i> Approve</button>
                        <button type="button" class="btn btn-danger" onclick="reject()"> <i class="fa fa-close"></i> Reject</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* Modal *@

@section scripts{
    <script>
        debugger;
        $(document).ready(function () {
            var dataTable = $('#table_id').DataTable({
                "filter": true,
                "orderMulti": false,
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "ajax": {
                    "url": "/request/ActionManager",
                    "type": "GET",
                    "dataSrc": "data"
                },
                language: {
                    searchPlaceholder: "Search..."
                },
                "columnDefs": [
                    {
                        "targets": [0, 6],
                        "width": "5%",
                    },
                    {
                        "targets": [7, 1],
                        "visible": false,
                    },
                    {
                        "targets": [1, 2, 3, 4, 5, 6, 7, 8],
                        "orderable": false,
                    }
                ],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": 'id' },
                    {
                        "data": 'username'                        
                    },
                    { "data": 'reasonRequest' },
                    {
                        "data": 'startDate',
                        "render": function (data, type, row) {
                            return moment(data).format('DD MMMM YYYY');
                        }
                    },
                    {
                        "data": 'endDate',
                        "render": function (data, type, row) {
                            return moment(data).format('DD MMMM YYYY');
                        }
                    },
                    {
                        "data": 'requestStatus',
                        "render": function (data, type, row) {
                            if (data == 0) {
                                return "<div class='text-center'><button value='0' class='btn-sm btn-info'>Waiting</button></div>"
                            }
                            else if (data == 1) {
                                return "<div class='text-center'><button value='1' class='btn-sm btn-success'>Approved - HRD</button></div>"
                            }
                            else if (data == 2) {
                                return "<div class='text-center'><button value='1' class='btn-sm btn-danger'>Rejected - HRD</button></div>"
                            }
                            else if (data == 3) {
                                return "<div class='text-center'><button value='1' class='btn-sm btn-success'>Approved - Manager</button></div>"
                            }
                            else if (data == 4) {
                                return "<div class='text-center'><button value='4' class='btn-sm btn-danger'>Rejected - Manager</button></div>"
                            }
                        }
                    },
                    { "data": 'notes' },
                    {
                        "data": 'id',
                        "render": function (data, type, row, meta) {
                            return '<a data-toggle="modal" data-target="#modal" class="btn btn-outline-info text-warning" data-toggle="tooltip" data-placement="top" title="Details ' + '"  onclick="Get(\'' + row['id'] + '\')"><i class="fas fa-info"></i>  Details</a> '
                        }
                    }
                ]
            });
        });
        function Get(id) {
            $.ajax({
                url: "/Request/GetById",
                type: "GET",
                data: { 'id': id },
                success: function (data) {
                    $('#modal').modal('show');
                    var data = data['data'];
                    $('#id').val(data.id);
                    $('#ID').text(data.id);
                    $('#NIK').text(data.niK_Employee);
                    $('#FullName').text(data.employee.fullName);
                    $('#Email').text(data.employee.email);
                    $('#RemainingQuota').text(data.employee.remainingQuota);
                    $('#StartDate').text(moment(data.startDate).format('DD MMMM YYYY'));
                    $('#EndDate').text(moment(data.endDate).format('DD MMMM YYYY'));
                    $('#Notes').text(data.notes);
                    $('#Reason').text(data.reasonRequest);
                    $('#DateRequest').text(moment(data.dateRequest).format('DD MMMM YYYY'));
                    //console.log(data);

                }
            });
        }

        
        function approve() {
            debugger;
            var id = $('#id').val();
            Approve(id);
        }

        function reject() {
            var id = $('#id').val();
            Reject(id);
        }

        function Approve(id) {
            var approve = new Object();
            approve.id = $('#id').val();
            $.ajax({
                type: "PUT",
                url: "/Manager/Approve",
                data: approve,

                success: function (data) {
                    $('#modal').modal('hide');
                    $('#table_id').DataTable().ajax.reload();
                    Swal.fire(
                        'Approved!',
                        'Request has been approved.',
                        'success'
                    )
                    //console.log(data);
                }
            })
        }

        function Reject(id) {
            //debugger;
            var reject = new Object();
            reject.id = $('#id').val();
            reject.rejectedNotes = $('#RejectedNotes').val();
            if (reject.rejectedNotes === "" || reject.rejectedNotes === " ") {
                Swal.fire(
                    'Enter your reason reject!',
                    'Thank you...',
                    'error'
                )
            } else {
                $.ajax({
                    type: "PUT",
                    url: "/Manager/Reject",
                    data: reject,

                    success: function (data) {
                        $('#modal').modal('hide');
                        $('#table_id').DataTable().ajax.reload();
                        //console.log(data);
                        Swal.fire(
                            'Rejected!',
                            'Request has been rejected.',
                            'success'
                        )
                    }
                })

            }
        }
    </script>
}