
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="m-t-20" id="changepasswordForm" novalidate>
                    <div class="form-group">
                        <h5>Old Password <span class="text-danger">*</span></h5>
                        <div class="controls">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control" required
                                   data-validation-required-message="This field is required">
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>New Password <span class="text-danger">*</span></h5>
                        <div class="controls">
                            <input type="password" name="newPassword" id="newPassword" class="form-control" required
                                   data-validation-required-message="This field is required">
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>New password confirmation <span class="text-danger">*</span></h5>
                        <div class="controls">
                            <input type="password" name="confirmPassword" id="confirmPassword"
                                   data-validation-match-match="newPassword" class="form-control" required>
                        </div>
                    </div>
                    <div class="text-xs-right">
                        <button type="submit" class="btn btn-success" id="submitchangepassword">Submit</button>
                        <button type="reset" id="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/validation.js"></script>
    <script>
        !function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation()
        }(window, document, jQuery);
    </script>
    <script>
        $("#changepasswordForm").validate({
            rules: {
                oldPassword: {
                    required: true
                },
                newPassword: {
                    required: true
                },
                confirmPassword: {
                    required: true
                }
            },
            submitHandler: function (form) {
                var changePass = $(form);
                $.ajax({
                    type: "POST",
                    url: "/Employee/ChangePassword",
                    data: changePass.serialize(),
                    success: function (data) {
                        //console.log(data);
                        if (data.status == "Ok") {
                            $("#reset").click();
                            Swal.fire(
                                'Congrats!!!',
                                'Your password has been changed',
                                'success'
                            )
                        }
                        else {
                            Swal.fire(
                                "old password is wrong!",
                                "Please fill it in correctly!",
                                "error"
                            )
                        }
                    },
                })
            }
        });
    </script>
}

