@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        padding: 5px 15px;
    }
</style>

<h1>Daftar Nama Peserta MCC-49</h1>
<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr>
        <td>Agus</td>
        <td>Setiawan</td>
    </tr>
    <tr>
        <td>Bernadus</td>
        <td>Rangga</td>
    </tr>
    <tr>
        <td>Helda</td>
        <td>Triyanti</td>
    </tr>
    <tr>
        <td>Mar'ie</td>
        <td>Muhammad</td>
    </tr>
    <tr>
        <td>Muhammad</td>
        <td>Zulfikar</td>
    </tr>
    <tr>
        <td>Mulia Abror</td>
        <td>Khairul</td>
    </tr>
</table>